@page
@model AboutModel
@{
    ViewData["Title"] = "Regulamin";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Regulamin</p>
<ol>
    <li>Każdy wpłaca po 20 zł do mnie, lub wysyła informacje mailowo do mnie</li>
    <li>Stworzenie typy jednoznacznie równoważne jest z wzięciem udziału w grze</li>
    <li>Wygrany bierze 50% drugie miejsce 30% a trzecie 20% </li>
    <li>
        Punkty przyznawane są za:
        <ol>
            <li>Dokładne trafienie wyniku końcowego w fazie grupowej +2ptk</li>
            <li>Dokładne trafienie wyniku do 45 min +1ptk</li>
            <li>Trafienie zwycięscy +2ptk</li>
            <li>Trafienie w fazie pucharowej, żę w meczu będzie dogrywka +1 ptk</li>
            <li>Trafienie w fazie pucharowej, żę w meczu będą karne +1 ptk</li>
        </ol>
    </li>
</ol>

<p>Punkty za mecz Rosja - Arabia Saudyjska były liczone według starego regulaminu czyli +1ptk za wynik do przerwy + 1kt za wskazanie zwycięscy</p>
